<h3 class="p-3 pb-0 d-flex justify-content-between">
    <span>Generate New Timetable</span>
</h3>
<div class="container-fluid" [ngClass]="isLoading ? 'd-none' : ''">
    <form class="border p-3" [formGroup]="generateTimetableForm" (ngSubmit)="generateTimetable()">
        <p>
            <span class="fw-bold">Step 1:</span>
            &nbsp;
            <span class="fw-lighter fst-italic">Set the start and end dates for the timetable.</span>
        </p>
        <div class="from-group pb-4">
            <label for="startDate">Start&nbsp;Date</label>
            <input id="startDate" type="date" formControlName="startDate" class="form-control" placeholder="Start Date">
            <div *ngIf="generateTimetableForm.get('startDate')?.invalid && generateTimetableForm.get('startDate')?.touched" class="text-danger">
                Start Date is required.
            </div>
        </div>
        <div class="from-group pb-4">
            <label for="endDate">End&nbsp;Date</label>
            <input id="endDate" type="date" formControlName="endDate" class="form-control" placeholder="End Date">
            <div *ngIf="generateTimetableForm.get('endDate')?.invalid && generateTimetableForm.get('endDate')?.touched" class="text-danger">
                End Date is required.
            </div>
            <div *ngIf="generateTimetableForm.errors && generateTimetableForm.errors['dateRangeInvalid'] && (generateTimetableForm.get('startDate')?.touched || generateTimetableForm.get('endDate')?.touched)" class="text-danger">
                End Date must be greater than or equal to Start Date.
            </div>
        </div>
        <div class="from-group pb-4" *ngIf="showProposalsList == false">
            <button class="btn btn-primary" type="button" (click)="next()" [disabled]="generateTimetableForm.get('startDate')?.invalid || generateTimetableForm.get('endDate')?.invalid">
                <i class="fa fa-arrow-right"></i> Next
            </button>
        </div>
        <p [ngClass]="showProposalsList ? '' : 'd-none'">
            <span class="fw-bold">Step 2:</span>
            &nbsp;
            <span class="fw-lighter fst-italic">Choose which proposals to include by ticking their corresponding boxes.</span>
        </p>
        <div [ngClass]="showProposalsList ? '' : 'd-none'">
            <div class="row fw-bold bg-light py-2">
                <div class="col-1">
                    #
                </div>
                <div class="col-2">
                    Proposal ID
                </div>
                <div class="col-2">
                    Duration (in sec)
                </div>
                <div class="col">
                    Description
                </div>
                <div class="col-1">
                    Action
                </div>
            </div>
            <div class="row border-bottom py-1" *ngFor="let proposal of proposals; let i = index;">
                <div class="col-1" [ngClass]="!proposalsSelection[i] ? 'text-decoration-line-through opacity-50' : ''">
                    {{ i + 1 }}
                </div>
                <div class="col-2" [ngClass]="!proposalsSelection[i] ? 'text-decoration-line-through opacity-50' : ''">
                    {{ proposal.proposal_id }}
                </div>
                <div class="col-2" [ngClass]="!proposalsSelection[i] ? 'text-decoration-line-through opacity-50' : ''">
                    {{ proposal.simulated_duration  }}
                </div>
                <div class="col" [ngClass]="!proposalsSelection[i] ? 'text-decoration-line-through opacity-50' : ''">
                    {{ proposal.description  }}
                </div>
                <div class="col-1">
                    <input type="checkbox" class="form-check-input" [checked]="proposalsSelection[i]" (change)="!proposalsSelection[i] ? addProposal(i) : removeProposal(i)" [disabled]="isLoading">
                </div>
            </div>
            <div class="row border-bottom py-1" [ngClass]="showProposalsList ? '' : 'd-none'">
                <div class="col text-end py-3">
                    <strong>Remaining Time: </strong>
                    <span>{{ remainingTime }} seconds</span>
                </div>
            </div>
        </div>
        <div class="text-end pt-3" [ngClass]="showProposalsList ? '' : 'd-none'">
            <button class="btn btn-outline-danger" type="button" (click)="cancelTimetableGeneration()">
                <i class="fa fa-trash"></i> Clear
            </button>
            &nbsp;
            <button class="btn btn-outline-success" type="submit" [disabled]="generateTimetableForm.invalid || !proposalsSelection.includes(true)">
                <i class="fa-solid fa-wand-magic-sparkles"></i> Generate
            </button>
        </div>
    </form>
</div>
<div class="container-fluid text-center" [ngClass]="!isLoading ? 'd-none' : ''">
    <i class="fa fa-spinner fa-5x">Loading...</i>
</div>

<router-outlet></router-outlet>
