<h3 class="p-3">
  Timetables
</h3>
<ng-container *ngIf="!isLoading">
  <div class="container-fluid px-4">
    <div class="row fw-bold border px-1 py-2">
      <div class="col-1 col-md-1">
        ID
      </div>
      <div class="col-2 col-md">
        Name
      </div>
      <div class="col col-md">
        Start Date
      </div>
      <div class="col col-md">
        End Date
      </div>
      <div class="col-2 col-md">
        Scheduled Proposals Ratio
      </div>
      <div class="col-2 col-md text-end">
        Action
      </div>
    </div>
    <div class="row justify-content-end bg-light px-1 py-2 border-bottom">
      <button class="col-1 btn btn-sm btn-primary" (click)="router.navigate(['/user', 'timetables', 'generate'])">
        <i class="fas fa-plus me-1"></i>
        <span class="d-none d-lg-inline">Generate</span>
      </button>
    </div>
    <div class="row px-1 py-2 border-bottom" *ngFor="let timetable of timetables; let i = index">
      <div class="col-1 col-md-1">
        {{ i + 1 }}
      </div>
      <div class="col-2 col-md fst-italic">
        {{ timetable.name }}
      </div>
      <div class="col col-md">
        {{ timetable.start_date | date:'yyyy-MM-dd' }}
      </div>
      <div class="col col-md">
        {{ timetable.end_date | date:'yyyy-MM-dd' }}
      </div>
      <div class="col-2 col-md">
        {{ getScheduledProposalsCount(timetable) }} / {{ timetable.proposals.length }}
      </div>
      <div class="col-2 col-md text-end">
        <button class="btn btn-sm btn-outline-info m-1 px-2 align-text-center" (click)="router.navigate(['/user', 'timetables', timetable.id, 'details'])">
          <i class="fas fa-eye"></i>
          <span class="d-none d-md-inline ps-1">View</span>
        </button>
        <button class="btn btn-sm btn-outline-dark m-1 px-2" (click)="updateTimetable(timetable.id)">
          <i class="fas fa-pen"></i>
          <span class="d-none d-md-inline ps-1">Edit</span>
        </button>
        <button class="btn btn-sm btn-outline-danger m-1 px-2" (click)="deleteTimetable(timetable.id)">
          <i class="fas fa-trash"></i>
        <span class="d-none d-md-inline ps-1">Delete</span>
        </button>
      </div>
    </div>
    <ng-container *ngIf="timetables.length == 0">
      <div class="row px-1 py-2 border-bottom">
        <h5 class="text-center">No data</h5>
      </div>
    </ng-container>
  </div>
</ng-container>
<ng-container *ngIf="isLoading">
  <div class="container-fluid text-center">
    <i class="fa fa-spinner fa-5x">Loading...</i>
  </div>
</ng-container>
<router-outlet></router-outlet>
